.banner {
    margin-top: 80px;
    height: 200px;
    text-align: center;
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url('/images/home_banner.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        filter: brightness(60%);
        z-index: 0;
    }

    .banner-title {
        position: relative;
        font-size: 2.5rem;
        padding-top: 70px;
    }
}

/* -------- Queries -------- */
@media screen and (min-width: 790px) {
    .banner {
        height: 250px;

        .banner-title {
            padding-top: 90px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        height: 350px;

        .banner-title {
            padding-top: 150px;
        }
    }
}