{%extends "base.html.twig" %} 
{% block title %}Atelier Vélo du Vernet{% endblock %}

{% block body %}
<main>
    <div>
        {{ include("template_part/menu.html.twig", {pp: 'menu'} )}}
    </div>
    
    <h2>Security</h2>

</main>
    {{ include("template_part/footer.html.twig", {pp: 'footer'} )}}
{% endblock %}

