<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="#!">🍀 Atelier Vélo du Vernet
      </a>
    </div>
    <nav>
  <div class="nav-mobile">
    <a id="nav-toggle" href="#!"><span></span></a>
  </div>
  <ul class="nav-list">
    <li><a href="#!">Accueil</a></li>
    <li>
        <a href="#!">Evènements</a>
        <ul class="nav-dropdown">
        <li><a href="#!">Vélos d'occasion</a></li>
        <li><a href="#!">Pièces neuves</a></li>
      </ul>
    </li>
    <li>
      <a href="#!">Magasin</a>
      <ul class="nav-dropdown">
        <li><a href="#!">Vélos d'occasion</a></li>
        <li><a href="#!">Pièces neuves</a></li>
      </ul>
    </li>
    <li><a href="#!">Activités</a></li>
    <li><a href="#!">L'atelier</a></li>
    <li><a href="#!">Contact</a></li>
  </ul>
</nav>
    </div>
</section>